CMB-BRCA
CMMD
Filtered-CMB-BRCA
CDD-CESM
*.log
model
*.h5
CMMD copy
ai_model_app/Breast-diagnosis/manifest-BbshIhaG7188578559074019493
ai_model_app/Breast-diagnosis/.~lock.TCIA-Breast-clinical-data-public-7_16_11.xlsx#
ai_model_app/*/__pycache__
ai_model_app_third/Breast-diagnosis/manifest-BbshIhaG7188578559074019493
ai_model_app_third/Breast-diagnosis/.~lock.TCIA-Breast-clinical-data-public-7_16_11.xlsx#
ai_model_app_third/Breast-diagnosis/__pycache__
ai_model_app_third/*/__pycache__
ai_model_app_third/docs/*.npz.*
ai_model_app_third/docs/text_model.pth
ai_model_app_third/docs/rag_generator
ai_model_app_second/CBIS-DDSM
ai_model_app_second/utils/__pycache__
ai_model_app_second/app/__pycache__
ai_model_app_second/models/__pycache__
ai_model_app_third/docs/passages_embeddings.npz
ai_model_app_third/docs/passages_index.pkl
ai_model_app_third/docs/rag_index
data
backups
1_classify_chat_final/Breast-diagnosis
0_classify_chat/src/__pycache__/data.cpython-310.pyc
0_classify_chat/src/__pycache__/model.cpython-310.pyc
0_classify_chat/src/__pycache__/train.cpython-310.pyc
ai_model_app_third/docs/text_model.pth
results/20250814_150536/history.npy
0_classify_chat/models/sprint1-epoch=0.ckpt
